@use '../../../node_modules/include-media/dist/include-media';

.rest {
  display: inline;
  margin-left: 8px;
  margin-right: 6px;
  transition: transform 0.5s ease;
  @include include-media.media('>=300px') {
    width: 5px;
    height: 10px;
    margin-right: 3px;
  }
  @include include-media.media('>=400px') {
    width: 5px;
    height: 10px;
    margin-right: 3px;
  }
  @include include-media.media('>=500px') {
    width: 5px;
    height: 10px;
    margin-right: 3px;
  }
  @include include-media.media('>=640px') {
    width: 7px;
    height: 14px;
  }
  @include include-media.media('>=760px') {
    width: 7px;
    height: 14px;
  }
  @include include-media.media('>=800px') {
    width: 7px;
    height: 14px;
  }
  @include include-media.media('>=1024px') {
    width: 7px;
    height: 14px;
  }
  @include include-media.media('>=1080px') {
    width: 7px;
    height: 14px;
  }
  @include include-media.media('>=1280px') {
    width: 7px;
    height: 14px;
  }
  @include include-media.media('>=1366px') {
    width: 7px;
    height: 14px;
  }
  @include include-media.media('>=1440px') {
    width: 7px;
    height: 14px;
  }
  @include include-media.media('>=1472px') {
    width: 7px;
    height: 14px;
  }
  @include include-media.media('>=1920px') {
    width: 7px;
    height: 14px;
  }
}

.active {
  transform: rotate(92deg);
}
