@use '../styles/mixins.scss';
@use '../../node_modules/include-media/dist/include-media';

@font-face {
  font-family: 'Brandon';
  src:
    url('../font/BrandonGrotesque-Black.woff') format('woff'),
    url('../font/BrandonGrotesque-Black.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  width: 100%;
  height: 100%;
  color: #fff;
  user-select: contain;
  @include include-media.media('<=500px') {
    font-size: 8px;
  }
  @include include-media.media('<=1920px') {
    font-size: 16px;
  }
  @include include-media.media('<=1472px') {
    font-size: 16px;
  }
  @include include-media.media('<=1440px') {
    font-size: 14px;
  }
  @include include-media.media('<=1366px') {
    font-size: 14px;
  }
  @include include-media.media('<=1280px') {
    font-size: 14px;
  }
  @include include-media.media('<=768px') {
    font-size: 12px;
  }
  @include include-media.media('<=640px') {
    font-size: 12px;
  }
  @include include-media.media('<=500px') {
    font-size: 7px;
  }
  @include include-media.media('<=400px') {
    font-size: 7px;
  }
  @include include-media.media('<=300px') {
    font-size: 7px;
  }

  .container {
    @include include-media.media('>=300px') {
      @include mixins.container(320px, 25px, 10px, 20px, 10px);
    }
    @include include-media.media('>=400px') {
      @include mixins.container(360px, 25px, 10px, 20px, 10px);
    }
    @include include-media.media('>=500px') {
      @include mixins.container(390px);
    }
    @include include-media.media('>=500px') {
      @include mixins.container(390px);
    }
    @include include-media.media('>=640px') {
      @include mixins.container(630px);
    }
    @include include-media.media('>=768px') {
      @include mixins.container(643px);
    }
    @include include-media.media('>=1024px') {
      @include mixins.container(899px);
    }
    @include include-media.media('>=1080px') {
      @include mixins.container(955px);
    }
    @include include-media.media('>=1280px') {
      @include mixins.container(1155px);
    }
    @include include-media.media('>=1366px') {
      @include mixins.container(1241px);
    }
    @include include-media.media('>=1440px') {
      @include mixins.container(1315px);
    }
    @include include-media.media('>=1472px') {
      @include mixins.container(1394px); // 1408px
    }
    @include include-media.media('>=1920px') {
      @include mixins.container(1608px);
    }

    .header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .tableAndChanged {
      @include include-media.media('>=640px') {
        display: flex;
        align-items: flex-start;
        gap: 0px;
        flex-direction: column;
      }
      @include include-media.media('>=1280px') {
        display: flex;
        align-items: flex-start;
        gap: 35px;
        flex-direction: row;
      }
      @include include-media.media('>=1472px') {
        display: flex;
        align-items: flex-start;
        gap: 75px;
        flex-direction: row;
      }
      @include include-media.media('>=1920px') {
        display: flex;
        align-items: flex-start;
        gap: 75px;
        flex-direction: row;
      }
      .changed {
        @include include-media.media('>=300px') {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        @include include-media.media('>=400px') {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        @include include-media.media('>=500px') {
          margin-top: 15px;
          margin-bottom: 30px;
        }
        @include include-media.media('>=640px') {
          margin-top: 15px;
          margin-bottom: 30px;
        }
        @include include-media.media('>=768px') {
          margin-top: 35px;
        }
        @include include-media.media('>=1024px') {
          margin-top: 35px;
        }
        @include include-media.media('>=1040px') {
          margin-top: 35px;
        }
        @include include-media.media('>=1080px') {
          margin-top: 35px;
        }
        @include include-media.media('>=1280px') {
          margin-top: 35px;
        }
        @include include-media.media('>=1366px') {
          margin-top: 35px;
        }
        @include include-media.media('>=1440px') {
          margin-top: 35px;
        }
        @include include-media.media('>=1472px') {
          margin-top: 35px;
        }
        @include include-media.media('>=1920px') {
          margin-top: 35px;
        }
        .circleChanged {
          display: flex;
          align-items: center;
          @include include-media.media('>=300px') {
            gap: 0.2rem;
          }
          @include include-media.media('>=400px') {
            gap: 0.3rem;
          }
          @include include-media.media('>=1472px') {
            gap: 0.5rem;
          }
          @include include-media.media('>=1920px') {
            gap: 0.5rem;
          }

          .circle {
            display: inline-block;
            border-radius: 50%;
            background-color: #4fffd3;
            box-shadow: 0 0 10px rgb(41 254 201 / 1);
            @include include-media.media('>=300px') {
              width: 5px;
              height: 5px;
            }
            @include include-media.media('>=400px') {
              width: 10px;
              height: 10px;
            }
            @include include-media.media('>=500px') {
              width: 10px;
              height: 10px;
            }
            @include include-media.media('>=640px') {
              width: 15px;
              height: 15px;
            }
            @include include-media.media('>=760px') {
              width: 15px;
              height: 15px;
            }
            @include include-media.media('>=800px') {
              width: 15px;
              height: 15px;
            }
            @include include-media.media('>=1024px') {
              width: 15px;
              height: 15px;
            }
            @include include-media.media('>=1080px') {
              width: 15px;
              height: 15px;
            }
            @include include-media.media('>=1280px') {
              width: 15px;
              height: 15px;
            }
            @include include-media.media('>=1366px') {
              width: 15px;
              height: 15px;
            }
            @include include-media.media('>=1440px') {
              width: 15px;
              height: 15px;
            }
            @include include-media.media('>=1472px') {
              width: 15px;
              height: 15px;
            }
            @include include-media.media('>=1920px') {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }

    .time {
      @include include-media.media('>=640px') {
        margin-top: 0px;
      }
      @include include-media.media('>=1280px') {
        margin-top: 35px;
      }
      @include include-media.media('>=1472px') {
        margin-top: 35px;
      }
      @include include-media.media('>=1920px') {
        margin-top: 35px;
      }

      .circle {
        display: inline-block;
        border-radius: 50%;
        background-color: #4fffd3;
        box-shadow: 0 0 10px rgb(41 254 201 / 1);
        @include include-media.media('>=300px') {
          width: 5px;
          height: 5px;
        }
        @include include-media.media('>=400px') {
          width: 10px;
          height: 10px;
        }
        @include include-media.media('>=500px') {
          width: 10px;
          height: 10px;
        }
        @include include-media.media('>=640px') {
          width: 15px;
          height: 15px;
        }
        @include include-media.media('>=760px') {
          width: 15px;
          height: 15px;
        }
        @include include-media.media('>=800px') {
          width: 15px;
          height: 15px;
        }
        @include include-media.media('>=1024px') {
          width: 15px;
          height: 15px;
        }
        @include include-media.media('>=1080px') {
          width: 15px;
          height: 15px;
        }
        @include include-media.media('>=1280px') {
          width: 15px;
          height: 15px;
        }
        @include include-media.media('>=1366px') {
          width: 15px;
          height: 15px;
        }
        @include include-media.media('>=1440px') {
          width: 15px;
          height: 15px;
        }
        @include include-media.media('>=1472px') {
          width: 15px;
          height: 15px;
        }
        @include include-media.media('>=1920px') {
          width: 15px;
          height: 15px;
        }
      }
    }

    .point {
      background: transparent;
      color: #fff;
      border: none;
      padding: 0;
      cursor: default;

      &:focus,
      &:focus-visible {
        outline: none !important;
      }
    }

    .supportBlockAndDonation {
      @include include-media.media('>=300px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
      @include include-media.media('>=400px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
      @include include-media.media('>=500px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
      @include include-media.media('>=640px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
      @include include-media.media('>=768px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
      @include include-media.media('>=1024px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
      @include include-media.media('>=1040px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
      @include include-media.media('>=1080px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
      @include include-media.media('>=1280px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
      @include include-media.media('>=1366px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
      @include include-media.media('>=1440px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
      @include include-media.media('>=1472px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
      @include include-media.media('>=1920px') {
        text-align: end;
        padding-right: 0px;
        padding-bottom: 32px;
        font-family: 'Brandon';
      }
    }
  }
}
