@use '../styles/mixins.scss';
@use '../../node_modules/include-media/dist/include-media';

@font-face {
  font-family: 'Brandon';
  src:
    url('../font/BrandonGrotesque-Black.woff') format('woff'),
    url('../font/BrandonGrotesque-Black.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  width: 100%;
  height: 100%;
  color: #fff;
  user-select: contain;

  .container {
    @include include-media.media('>=640px') {
      @include mixins.container(515px);
    }
    @include include-media.media('>=768px') {
      @include mixins.container(643px);
    }
    @include include-media.media('>=1024px') {
      @include mixins.container(899px);
    }
    @include include-media.media('>=1080px') {
      @include mixins.container(955px);
    }
    @include include-media.media('>=1280px') {
      @include mixins.container(1155px);
    }
    @include include-media.media('>=1366px') {
      @include mixins.container(1241px);
    }
    @include include-media.media('>=1440px') {
      @include mixins.container(1315px);
    }
    @include include-media.media('>=1472px') {
      @include mixins.container(1394px); // 1408px
    }
    @include include-media.media('>=1920px') {
      @include mixins.container(1608px);
    }

    .header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .tableAndChanged {
      display: flex;
      align-items: flex-start;
      gap: 75px;
      .changed {
        margin-top: 35px;
        .circleChanged {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .circle {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #4fffd3;
            box-shadow: 0 0 10px rgb(41 254 201 / 1);
          }
        }
      }
    }

    .time {
      margin-top: 35px;

      .circle {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #4fffd3;
        box-shadow: 0 0 10px rgb(41 254 201 / 1);
      }
    }

    .point {
      background: transparent;
      color: #fff;
      border: none;
      padding: 0;
      cursor: default;

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: 2px solid blue;
      }
    }

    .supportBlockAndDonation {
      position: fixed;
      padding-right: 30px;
      padding-bottom: 32px;
      right: 0;
      bottom: 0;
      font-family: 'Brandon';
    }
  }
}
